	

<div id="viewPanel" class="well well-sm">
	<div id="characters">

	<div class="character">
	 <div class="villager"> <img src="images/characters/villager.png" height="48" width="48" > 
	 	<% include villagerinfo.ejs %> 
	 </div> 
	</div>
	<div class="character"> 
		<div class="villager"> <img src="images/characters/villager.png" height="48" width="48" > 
			<% include villagerinfo.ejs %>
		</div> 
	</div>
	<div class="character"> 
		<div class="villager"> <img src="images/characters/villager.png" height="48" width="48" > 
			<% include villagerinfo.ejs %>
		</div> 
	</div>

	<div class="character">
		 <div class="cop"> <img src="images/characters/cop.png" height="48" width="48">
		 	<% include copinfo.ejs %>
		 </div> 
	</div>

	<div class="character"> 
		<div class="crazycop"><img src="images/characters/crazy cop.png" height="48" width="48" >
			<% include crazycopinfo.ejs %>
		</div> 
	</div>

	<div class="character"> 
		<div class="mafia"> <img src="images/characters/mafia.png" height="48" width="48">
			<% include mafiainfo.ejs %>
		</div> 
	</div>

	<div class="character"> 
		<div class="mafia"> <img src="images/characters/mafia.png" height="48" width="48">
			<% include mafiainfo.ejs %>
		</div> 
	</div>

	</div>
	<div id="time">
	</div>
</div>