<div id="copInfo" class="well">
	<p class="label label-success"> Side: Village </p>
	<p>
	</p>
	<p> This is a cop. </p>
	<p> Cop is useful. </p>
	<p> On each day he receives a report on a random person and his role.</p>
</div>