<div id="crazycopInfo" class="well">
	<p class="label label-success"> Side: Village </p>
	<p>
	</p>
	<p> This is a crazy cop </p>
	<p> This cop is not very useful</p>
	<p> He receives a report on a random person each day, but the report is almost never correct</p>
</div>