<html>
<head>
	<script src="/socket.io/socket.io.js"></script>
	<script src="jquery/dist/jquery.min.js"></script>
	<script src="/javascripts/index.js"></script>
</head>
<body>

	This is the game

</body>
</html>