<html>
<head>
	<script src="/socket.io/socket.io.js"></script>
	<script src="jquery/dist/jquery.min.js"></script>
	<script src="/javascripts/index.js"></script>
	<link rel='stylesheet' href='bootstrap.css'/>
	<link rel='stylesheet' href='/stylesheets/game.css'/>

</head>
<body>

<% include header.ejs %> 

		
	<div id="game">
		<div id="viewPanel" class="well well-sm">
			<div id="characters">
				<div class="character"> <img src="images/characters/villager.png" height="48" width="48" class="villager"> </div>
				<div class="character"> <img src="images/characters/villager.png" height="48" width="48" class="villager"> </div>
				<div class="character"> <img src="images/characters/villager.png" height="48" width="48" class="villager"> </div>
				<div class="character"> <img src="images/characters/cop.png" height="48" width="48" class="cop"> </div>
				<div class="character"> <img src="images/characters/crazycop.png" height="48" width="48" class="crazycop"> </div>
				<div class="character"> <img src="images/characters/mafia.png" height="48" width="48" class="mafia"> </div>
				<div class="character"> <img src="images/characters/mafia.png" height="48" width="48" class="mafia"> </div>
			</div>
			<div id="time">
			</div>
		</div>

		<div id="players" >

			<div class="panel panel-success" id="alivePanel">
				<div class="panel-heading" id="playersText">Alive</div>
				<div class="panel-body" id="alive">
				    
				</div>
			</div>


			<div class="panel panel-danger" id="deadPanel">
				<div class="panel-heading" id="deadText">Dead</div>
				<div class="panel-body" id="dead">
				    
				</div>
			</div>

		</div>
		<div id="play">
			<div id="chatWrap">
				<div id="chat">
				</div>

				<div id="message">
					<form>
					    
					        <input type="text" id="chatMessage" class="form-control"/>
					    
					        <input type="submit" value="Send" id="sendMessage" class="btn btn-default" />
					   
					</form>
				</div>
			</div>
		</div>
		
	</div>


</body>
</html>