<!doctype html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Game</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="/javascripts/index.js"></script>
  <script src="/javascripts/game.js"></script>
   <title>Document</title>
 </head>
 <body>

  <div id="gameChat">
    <p id="roomName">Znajdujesz sie w pokoju o nazwie default</p>

    <div id="chat">
      
    </div>

    <form action="" id="inputForm">
      <input type="text" maxlength="20" id="inp">
      <button id="send"> Send message</button>
      <span id="errorEmpty"></span>
    </form>
  </div>

</div>

 </body>
 </html>