<html>
<head>
	<script src="/socket.io/socket.io.js"></script>
	<script src="jquery/dist/jquery.min.js"></script>
	<script src="/javascripts/index.js"></script>
</head>
<body>

	<div id="gameTimer">
	</div>
		
	<div id="game">
		<div id="characters">
			Characters
		</div>
		<div id="alive">
			Users here
		</div>
		<div id="dead">
			Dead here
		</div>

		<div id="play">
			<div id="chatWrap">
				<div id="chat">
				</div>

				<div id="message">
					<form>
					    <div>
					        <input type="text" id="chatMessage"/>
					    </div>
					    <div>
					        <input type="submit" value="Send" id="sendMessage"/>
					    </div>
					</form>
				</div>
			</div>
		</div>
		
	</div>


</body>
</html>