<div id="header" class="container">

	<div id="linkGlowna">
		<button type="button" class="btn btn-default" href="/">Main page</button>
	</div>

	<div id="linkZasady">
		<a href='/rules'> Rules </a>
	</div>

	<div id="linkLog">
		<% if(isLogged) {%>
			<a href="/logout"> Wyloguj </a>
		<%} %>

		<% if(!isLogged) {%>
			<a href="/login"> Zaloguj </a>

		<%} %>

	</div>


</div>