<div id="header" class="navbar navbar-default" role="navigation">


	<div id="linkGlowna">
		<a class="navbar-brand" href="/">Main page</a>
	</div>

	<div id="linkZasady">
		<a class="navbar-brand" href="/">Rules</a>
	</div>

	<div id="linkLog">
		<% if(isLogged) {%>
			<a class="navbar-brand" href="/logout">Logout</a>
		<%} %>

		<% if(!isLogged) {%>
			<a class="navbar-brand" href="/login">Login</a>
			<a class="navbar-brand" href="/register">Register</a>
		<%} %>

	</div>


</div>