<html>
<head>
	<script src="/socket.io/socket.io.js"></script>
	<script src="jquery/dist/jquery.min.js"></script>
	<script src="/javascripts/index.js"></script>
</head>
<body>
	<h2>Changed Jade to EJS <%= title %></h2>

	Welcome! 
	Please insert your nickname
	</br>
	<input type="text" id = "nicknameInput"> </input>
	<span id="pError"> </span>
	</br>
	<!-- <button id = "nicknameButton"> Button </button> -->
	<input type="button" id="nicknameButton" value="Button">

	<div id="here"></div>
</body>
</html>