<!DOCTYPE html>
<html>
<head>
	<script src="jquery/dist/jquery.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/index.css' />
	<link rel='stylesheet' href='bootstrap.css'/>
</head>
<body>

<% include header.ejs %> 

<div id="welcome" class="jumbotron">
	<h1> Mafia </h1>
	<% if(isLogged) {%>
		<a href="/game" class="btn btn-default"> Play</a>
	<%} %>

	<% if(!isLogged) {%>
		<a href="/login" class="btn btn-default"> Login to play</a>
	<%} %>
</div>


</body>
</html>