<html>
<head>
	<script src="/socket.io/socket.io.js"></script>
	<script src="jquery/dist/jquery.min.js"></script>
	<script src="/javascripts/index.js"></script>
</head>
<body>
	<div id="loginForm">
		<form>
		    <div>
		        <label>Username:</label>
		        <input type="text" name="username" id="username"/>
		    </div>
		    <div>
		        <input type="submit" value="Log In" id="loginButton"/>
		    </div>
		</form>
	</div>

	<div id="game">
		<div id="characters">
			Characters
		</div>
		<div id="alive">
			Users here
		</div>
		<div id="dead">
			Dead here
		</div>

		<div id="chatWrap">
			<div id="chat">
				Messages here
			</div>

			<div id="message">
				<form>
				    <div>
				        <input type="text" id="chatMessage"/>
				    </div>
				    <div>
				        <input type="submit" value="Log In" id="sendMessage"/>
				    </div>
				</form>
			</div>
		</div>

		<div>
			<div id="village">
				Hanging
			</div>
			<div id="mafia">
				Killing
			</div>
		</div>
	</div>

</body>
</html>