<!doctype html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>CzatApka</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="jquery/dist/jquery.min.js"></script>
  
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="css/login.css">
   <title>Document</title>
 </head>
 <body>


  <div id="loginForm">
    <form action="/login" method="post">
    <div><label>Użytkownik:</label>
    <input type="text" name="username"/><br/></div>'
    <div><label>Hasło:</label>'
    <input type="password" name="password"/></div>'
    <div><input type="submit" value="Zaloguj"/></div></form>'
  </div>
  
  <a href="/register">Zarejestruj sie</a>


 </body>
 </html>