<div id="loginForm">
	<form>
	    <div>
	        <label>Username:</label>
	        <input type="text" name="username" id="username"/>
	    </div>
	    <div>
	        <input type="submit" value="Log In" id="loginButton"/>
	    </div>
	</form>
</div>