


		<div class="panel panel-primary" id="mafiaDiv">
			<div class="panel-heading" id="mafiaVotesHead">Mafia votes</div>
			<div class="panel-body" id="mafiaVotes">

			 
			</div>
			<div id="mafia">
				<select id="kill" class="form-control">
				    <option value=""></option>
					<option value=" ">No one</option>
				</select>
			</div>
		</div>