<div id="mafiaInfo" class="well">
	<p class="label label-danger">Side: Mafia </p>
		<p>
	</p>
	<p> This is a mafia member </p>
	<p> They kill people when it gets dark and when it's sunny they fake villagers</p>
</div>