<div id="mafiaDiv">
	<div id="mafiaVotes">
		mafia votes
	</div>

	<div id="mafia">
		killing
		<select id="kill">
			<option value=""></option>
			<option value=" ">No one</option>
		</select>
	</div>
</div>