<div id="game">
	<div id="characters">
		Characters
	</div>
	<div id="alive">
		Users here
	</div>
	<div id="dead">
		Dead here
	</div>

	<div id="chatWrap">
		<div id="chat">
			Messages here
		</div>

		<div id="message">
			<form>
			    <div>
			        <input type="text" id="chatMessage"/>
			    </div>
			    <div>
			        <input type="submit" value="Log In" id="sendMessage"/>
			    </div>
			</form>
		</div>
	</div>
	
</div>