<!doctype html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>CzatApka</title>
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="stylesheets/index.css">
    <link rel='stylesheet' href='bootstrap.css'/>
   <title>Document</title>
 </head>
 <body>

<% include header.ejs %> 

  <div id="registerForm">
    <div id="registerNameText">Register</div>
    <form action="/register" method="post">
    <div><label>Username:</label> 
      <input type="text" name="username" class="form-control" pattern=".{1,10}" required title="Your username must be 1-10 characters long"/><br/></div>
    <div><label>Password:</label>
    <input type="password" name="password" class="form-control" pattern=".{1,10}" required title="Your password must be 1-10 characters long"/></div>
    <div><input type="submit" value="Register" class="btn btn-default" id="registerButton"/></div></form>
  </div>

</body>
</html>