<!doctype html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>CzatApka</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="stylesheets/index.css">
   <title>Document</title>
 </head>
 <body>

<% include header.ejs %> 

  <div id="registerForm">
    <form action="/register" method="post">
    <div><label>Użytkownik:</label>
    <input type="text" name="username"/><br/></div>
    <div><label>Hasło:</label>
    <input type="password" name="password"/></div>
    <div><input type="submit" value="Register"/></div></form>
  </div>

</body>
</html>