<div id="play">
	<div id="chatWrap">
		<div id="chat">
		</div>

		<div id="message">
			<form>
			    
			        <input type="text" id="chatMessage" class="form-control" maxlength="50"/>
			    
			        <input type="submit" value="Send" id="sendMessage" class="btn btn-default" />
			   
			</form>

		</div>
		<div id="msgmsg">
		</div>
	</div>
</div>