<div id="villagerInfo" class="well">
<div>
	<p class="label label-success"> Side: Village </p>
	<p>
	</p>
	<p>
	This is a villager.
	</p>
	 <p>He does absolutely nothing besides talking.</p>
	</div>
</div>