<div id="play">

	<div id="chatWrap">
		<div id="chat">
			Messages here
		</div>

		<div id="message">
			<form>
			    <div>
			        <input type="text" id="chatMessage"/>
			    </div>
			    <div>
			        <input type="submit" value="Send" id="sendMessage"/>
			    </div>
			</form>
		</div>
	</div>
	


		<div class="panel panel-primary" id="villageDiv">
			<div class="panel-heading" id="villageVotesHead">Village votes</div>
			<div class="panel-body" id="villageVotes">

			 
			</div>
			<div id="village">
				<select id="killAll" class="form-control">
				    <option value=""></option>
					<option value=" ">No one</option>
				</select>
			</div>
		</div>

</div>
