<div id="play">

	<div id="chatWrap">
		<div id="chat">
			Messages here
		</div>

		<div id="message">
			<form>
			    <div>
			        <input type="text" id="chatMessage"/>
			    </div>
			    <div>
			        <input type="submit" value="Send" id="sendMessage"/>
			    </div>
			</form>
		</div>
	</div>

	<div id="village">
		<select id="killAll	">
		    <option value=""></option>
			<option value=" ">No one</option>
		</select>
	</div>
	
</div>
