<div id="play">

	<div id="chatWrap">
		<div id="chat">
			Messages here
		</div>

			<div id="message">
				<form>
				    
				        <input type="text" id="chatMessage" class="form-control" maxlength="50"/>
				    
				        <input type="submit" value="Send" id="sendMessage" class="btn btn-default" />
				   
				</form>

			</div>
			<div id="msgmsg">
			</div>
	</div>

		<div class="panel panel-primary" id="villageDiv">
			<div class="panel-heading" id="villageVotesHead">Village votes</div>
			<div class="panel-body" id="villageVotes">

			 
			</div>
			<div id="village">
				<select id="killAll" class="form-control">
				    <option value=""></option>
					<option value=" ">No one</option>
				</select>
			</div>
		</div>

</div>
