body{
	background-color: red;
}

#game{
	float: left;
	width: 100%;
	background-color: green;
	

	#characters{
		width: 100%;
		background-color: yellow;
	}

	#players{
		float:left;
		width: 15%;
		background-color: pink;
	}
	
	#play{
		#chatWrap{
			float:left;
			width: 60%;
			background-color: white;

			#chat{
				height: 70%;
				overflow-y: auto;
			}
		}
	}
}

#play {

	#mafiaVotes{
		float: right;
	}

	#mafia{
		clear: right;
		float: right;
	}

	#villageVotes{
		float: right;
	}

	#village{
		clear: right;
		float: right;
	}
}

.msg{

}

.deadmsg{
	text-color: red;
	background-color: red;
}