@padL: 10px 10px 10px 10px;
@padS: 5px 5px 5px 5px;
@fontSize: 2em;
@infoSize: 1.5em;

#linkGlowna{
	float:left;
	padding: @padL;
}

#linkZasady{
	float:left;
	padding: @padL;
}

#linkLog{
	float:right;
	padding: @padL;
}



#game{
	margin-top: 30px;
	float: left;
	width: 100%;
	height: 90%;
	background-color: #e5e5e5;
	

	#viewPanel{
		width: 100%;
		height: 80px;
		margin-bottom: 10px;

		#characters{
			height: 80px;
			float: left;

			.character{
				float: left;
				padding: @padS;
			}
		}

		#time{
			float:right;
			font-size: @fontSize;
		}
	}

	#players{
		float:left;
		margin: 10px 5px 5px 5px;
		width: 15%;

		#alive{
			margin-top: 10px;
		}

		#dead{
			margin-top: 10px;
		}

		.player{
			height: 40px;
		}
	}
	
	#play{
		width: 100%;
		#chatWrap{
			float:left;
			width: 55%;
			background-color: white;
			margin: 10px 10px 10px 10px;

			#chat{
				height: 70%;
				overflow-y: auto;
				overflow-x: none;
				padding: 15px 15px 15px 15px;
			}

			#msgmsg{
				float: left;
				margin: @padL;
				padding: @padS;
			}

			#message{
				margin-top: 15px;
				height: 50px;
				float: left;

				#chatMessage{
					width: 150px;
					float: left;
					margin-left: 15px;
					margin-right: 15px;
				}
				#sendMessage{

				}
			}

		}

		#villageDiv{
			width: 22%;
			float: right;
			margin: @padL;
		}

		#mafiaDiv{
			width: 22%;
			float: right;
			margin: @padL;
		}

		.vote{
			width: 100%;
			.voteuser{


			}
			.voteResult{
				float: right;
			}
		}
	}
}


.alert{
	margin-bottom: 5px;
}

.alert.alert-info.alive{
	background-color: #d6e9c6;
	padding: @padS;
	margin-bottom: 5px;
}

.alert.alert-info.dead{
	background-color: #cdbfe3;
	border-color: #9783b9;
	color: black;
	padding: @padS;
	margin-bottom: 5px;
}


.alert-success{
	margin-bottom: 5px;
}

.panel-body{
	padding: 5px 5px 8px 10px;
}


.infoTemplate{
	position: absolute;
	height: 190px;
	width: 250px;
	border-color: lighten(red, 40%);
	font-size: @fontSize/2;
	display: none;
}

#villagerInfo{
	.infoTemplate;
}

#mafiaInfo{
	.infoTemplate;
}

#copInfo{
	.infoTemplate;
}

#crazycopInfo{
	.infoTemplate;
}

.sideInfo{
	background-color: red;
}


.villager:hover #villagerInfo{
	display: block;
}

.cop:hover #copInfo{
	display: block;
}

.crazycop:hover #crazycopInfo{
	display: block;
}

.mafia:hover #mafiaInfo{
	display: block;
}