@padL: 10px 10px 10px 10px;

#linkGlowna{
	float:left;
	padding: @padL;
}

#linkZasady{
	float:left;
	padding: @padL;
}

#linkLog{
	float:right;
	padding: @padL;
}


#gameTimer{
	float: right;
}

#game{
	float: left;
	width: 100%;
	height: 90%;
	background-color: #e5e5e5;
	

	#characters{
		width: 100%;
		background-color: yellow;
	}

	#players{
		float:left;
		margin: 5px 5px 5px 5px;
		width: 15%;

		#alive{
			margin-top: 10px;
		}

		#dead{
			margin-top: 10px;
		}
	}
	
	#play{
		#chatWrap{
			float:left;
			width: 60%;
			background-color: white;
			margin: 10px 10px 10px 10px;

			#chat{
				height: 70%;
				overflow-y: auto;
				padding: 15px 15px 15px 15px;
			}

			#message{
				margin-top: 15px;

				#chatMessage{
					width: 150px;
					float: left;
					margin-left: 15px;
					margin-right: 15px;
				}
				#sendMessage{

				}
			}

		}

		#villageDiv{
			width: 15%;
			float: left;
		}

		#mafiaDiv{
			float: left;
		}

		.vote{
			.voteResult{
				float:right;
			}
		}
	}
}


.msg{
	//background-color: yellow;
}


.deadmsg{
	text-color: red;
	background-color: red;
}

.servermsg{
	background-color: yellow;
}

.alert-success{
	margin-bottom: 5px;
}

.panel-body{
	padding: 5px 5px 8px 10px;
}