#linkGlowna {
  float: left;
  padding: 10px 10px 10px 10px;
}
#linkZasady {
  float: left;
  padding: 10px 10px 10px 10px;
}
#linkLog {
  float: right;
  padding: 10px 10px 10px 10px;
}
#game {
  margin-top: 30px;
  float: left;
  width: 100%;
  height: 90%;
  background-color: #e5e5e5;
}
#game #viewPanel {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}
#game #viewPanel #characters {
  height: 80px;
  float: left;
}
#game #viewPanel #characters .character {
  float: left;
  padding: 5px 5px 5px 5px;
}
#game #viewPanel #time {
  float: right;
  font-size: 2em;
}
#game #players {
  float: left;
  margin: 10px 5px 5px 5px;
  width: 15%;
}
#game #players #alive {
  margin-top: 10px;
}
#game #players #dead {
  margin-top: 10px;
}
#game #players .player {
  height: 40px;
}
#game #play {
  width: 100%;
}
#game #play #chatWrap {
  float: left;
  width: 55%;
  background-color: white;
  margin: 10px 10px 10px 10px;
}
#game #play #chatWrap #chat {
  height: 70%;
  overflow-y: auto;
  padding: 15px 15px 15px 15px;
}
#game #play #chatWrap #message {
  margin-top: 15px;
}
#game #play #chatWrap #message #chatMessage {
  width: 150px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
#game #play #villageDiv {
  width: 22%;
  float: right;
  margin: 10px 10px 10px 10px;
}
#game #play #mafiaDiv {
  width: 22%;
  float: right;
  margin: 10px 10px 10px 10px;
}
#game #play .vote {
  width: 100%;
}
#game #play .vote .voteResult {
  float: right;
}
.deadmsg {
  text-color: red;
  background-color: red;
}
.servermsg {
  background-color: yellow;
}
.alert-success {
  margin-bottom: 5px;
}
.panel-body {
  padding: 5px 5px 8px 10px;
}
